<footer #footer class="footer">
    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-12 col-md-4 py-5">
                    <h5>Menu</h5>
                    <hr class="break-line-section"/>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <a href="#">Strona główna</a>
                        </li>
                        <li><a href="#">O nas</a>
                        </li>
                        <li><a href="#">Pierwsza wizyta</a></li>
                        <li><a href="#">Cennik</a></li>
                        <li><a href="#">Kontakt</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 py-5">
                    <h5>Mówię Wam</h5>
                    <hr class="break-line-section"/>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <div class="list-item-icon-container">
                                <mat-icon aria-hidden="false" aria-label="Email icon" fontIcon="email" class="footer-icon"></mat-icon>
                                <a target="_blank" href="mailto:mowiewam@gmail.com">mowiewam&#64;gmail.com</a>
                            </div>
                        </li>
                        <li>
                            <div class="list-item-icon-container">
                                <mat-icon aria-hidden="false" aria-label="Phone icon" fontIcon="phone" class="footer-icon"></mat-icon>
                                <a target="_blank" href="tel:509-792-650">509-792-650</a>
                            </div>
                        </li>
                        <li>
                            <div class="list-item-icon-container">
                                <mat-icon aria-hidden="false" aria-label="Phone icon" fontIcon="location_on" class="footer-icon"></mat-icon>
                                <a target="_blank" href="https://g.co/kgs/yvMUtaY">ul. Jurajska 1C/u20A, 25-640 Kielce</a>
                            </div>
                        </li>
                        <li>
                            <div class="list-item-icon-container">
                                <mat-icon aria-hidden="false" aria-label="Phone icon" fontIcon="info" class="footer-icon"></mat-icon>
                                <a target="_blank" href="https://g.co/kgs/yvMUtaY">NIP: 657-297-00-56</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-unstyled list-inline social align-left">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.instagram.com/mowie.wam/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.facebook.com/mowiewam">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 py-5">
                    <h5>Godziny otwarcia</h5>
                    <hr class="break-line-section"/>
                    <ul class="list-unstyled">
                        <li>
                            <div class="list-item-icon-container">
                                <span>Poniedziałek - Sobota 9:00 - 20:00</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>
