.subheader-section {
  min-height: 20vh;
  background-color: var(--primary);
  text-align: center;
  //border-top: 1px solid var(--tertiary);
}
.licorice-regular {
  font-family: "Licorice", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 122px;
  color: var(--tertiary);
  padding-top: 45px;
  @media only screen and (max-width: 800px) {
    font-size: 80px;
  }
}
.gowun-dodum-regular {
  font-family: "Gowun Dodum", serif;
  font-weight: 600;
  font-style: normal;
  color: var(--tertiary);
  font-size: 18px;
  @media only screen and (max-width: 800px) {
    font-size: 12px;
  }
}
.break-line-logo {
  border: solid var(--secondary);
  border-width: 1px 0 0 0;
  opacity: 0.5;
  width: 450px;
  margin: -20px auto 4px;
  @media only screen and (max-width: 800px) {
    width: 320px;
    margin-top: -12px;
  }
}
.logo-text-container {
  padding-bottom: 45px;
}
.about-me-text-container, .img-me-container {
  padding: 60px 20px;
}
.img-me-container {
  text-align: center;
}
.me-photo {
  width: 90%;
  max-width: 450px;
  border-radius: 25px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.about-me-header {
  font-size: 20px;
  color: var(--tertiary);
}
.about-me-text {
  font-size: 42px;
  color: var(--tertiary);
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}
.about-me-text-subheader {
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
  color: #7A7A7A;
}
.break-line-header {
  width: 74px;
  margin: 12px auto 0 0;
  color: var(--tertiary);
}
.about-me-paragraph {
  font-size: 15px;
  color: #7A7A7A;
  text-align: justify;
}
.about-me-description-container {
  margin-top: 20px;
}

.about-us-link {
  text-decoration: none;
  color: var(--tertiary);
}
.map-title {
  padding: 0;
  margin-bottom: 55px;
}
.google-map-section {
  background-color: #EFEFEF;
  padding: 60px 0 145px 0;
  text-align: center;
}
.google-map-frame{
  border-radius: 18px;
}
.card {
  width: 300px;
  height: 300px;
}
.google-opinions {
  margin: 100px 0;
}
.slider-container {
  text-align: center;

}
.google-opinions-carousel-container {
  padding: 5px;
  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}
.item-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  width: 350px;
  height: 400px;
  margin: 15%;
  @media only screen and (max-width: 768px) {
    margin: 30px auto 60px auto;
  }
}
.item-card-header {
  text-align: center;
  padding: 25px 0 0 0;
  font-size: 22px;
}
.opinion-time {
  text-align: center;
  font-size: 14px;
  color: #7A7A7A;
}
.google-opinions-header {
  text-align: center;
  padding: 50px 0 0 0;
}
.opinion-content-container {
  margin: 25px;
}
.opinion-paragraph {
  font-size: 14px;
  text-align: justify;
  color: #7A7A7A;
}
